* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.cont {
    border: 1px white solid;
    background-color: gray;
    height: 50vh;
    width: 50vh;
}